1

In [1]:
1+1

2

In [2]:
1/2

0.5

In [3]:
2**4

16

In [4]:
2+3*5+3

20

In [5]:
4%2

0

In [6]:
5%2

1

In [7]:
var = 2

In [8]:
var

2

In [9]:
x=2
y=3

In [10]:
x+y

5

In [11]:
x=x*x

In [12]:
x

4

In [13]:
x=x*x

In [14]:
x

16

In [15]:
#strings

In [16]:
'single quote'

'single quote'

In [17]:
"This is string"

'This is string'

In [18]:
I cant go

SyntaxError: invalid syntax (<ipython-input-18-482de03bfdbc>, line 1)

In [19]:
x='hello'

In [20]:
x

'hello'

In [21]:
print(x)

hello

In [22]:
num=12
name='sam'

In [24]:
'my number is { } and my num is {}'.format(num,name)

NameError: name 'name' is not defined

In [29]:
s='abcdefghijk'

In [30]:
s[0]

'a'

In [32]:
s[:3]

'abc'

In [34]:
s[3:6]

'def'

In [35]:
[1,2,3]

[1, 2, 3]

In [36]:
['a','b','c']

['a', 'b', 'c']

In [37]:
my_list=['a','b','c']

In [38]:
my_list

['a', 'b', 'c']

In [39]:
my_list[0]

'a'

In [40]:
my_list[1:3]

['b', 'c']

In [41]:
my_list[0]='h'

In [42]:
my_list

['h', 'b', 'c']

In [43]:
nest=[1,2,[3,4]]

In [44]:
nest[2]

[3, 4]

In [45]:
nest[2][4]

IndexError: list index out of range

In [46]:
nest[2][1]

4

In [47]:
nest[3]

IndexError: list index out of range

In [48]:
d={'key1':'value','key2':123}

In [49]:
d['key1']

'value'

In [50]:
d['key2']

123

In [51]:
d={'k1':[1,2,3]}

In [58]:
list=d['k1'][1]

In [59]:
list[0]

TypeError: 'int' object is not subscriptable

In [63]:
d={'k1':{'k2':[1,2,3]}}

In [64]:
d['k1']['k2'][1]

2

In [65]:
True

True

In [66]:
False

False

In [69]:
t=(1,2,3)

In [70]:
t[0]

1

In [71]:
list=[1,2,3]

In [72]:
list

[1, 2, 3]

In [73]:
list[0]='new'

In [74]:
list

['new', 2, 3]

In [76]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

In [77]:
{1,1,1,2,3,3}

{1, 2, 3}

In [79]:
set([1,1,1,1,2,2,3,4,4,5,5,6])

{1, 2, 3, 4, 5, 6}

In [80]:
s={1,2,3}

In [81]:
s.add(5)

In [82]:
s

{1, 2, 3, 5}

In [83]:
s.add(5)

In [84]:
s

{1, 2, 3, 5}

In [85]:
1>3

False

In [86]:
1<2

True

In [87]:
1>=2

False

In [88]:
1<=3

True

In [89]:
1==2

False

In [90]:
1==1

True

In [91]:
1!=3

True

In [92]:
'hi'=='by'

False

In [93]:
1>2 and 2>3

False

In [94]:
(1<2)or(2>5)

True

In [95]:
True and True

True

In [96]:
if 1<2:
    print('harshu')

harshu

In [97]:
if True:
    x=2+2

In [98]:
x

4

In [101]:
if 1==3:
    print('first')
elif 3==3:
    print('hii')
    
else:
    print('last')

hii

In [3]:
seq=[1,2,3,4,5]

In [105]:
for item in seq:
    print(item)

1
2
3
4
5

In [1]:
i=1
while i<5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [4]:
for x in seq:
    print(x)

1
2
3
4
5

In [5]:
range(0,5)

range(0, 5)

In [7]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
x=[1,2,3,4]

In [10]:
out=[]
for num in x:
    out.append(num**2)

In [11]:
print(out)

[1, 4, 9, 16]

In [12]:
[num**2 for num in x]

[1, 4, 9, 16]

In [13]:
out=[num**2 for num in x]

In [14]:
out

[1, 4, 9, 16]

In [25]:
def my_fun(name):
    print('hii ' +name)

In [26]:
my_fun('harshu')

hii harshu

In [27]:
def square(num):
    return num**2

In [29]:
output=square(2)

In [30]:
output

4

In [31]:
#Map and filter functions in python

In [36]:
#map function

In [33]:
seq=[1,2,3,4,5]

In [34]:
map

map

In [42]:
def times(var): return var*2

In [38]:
times(5)

10

In [39]:
seq=[1,2,3,4,5]

In [44]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [45]:
#filter function

 filter(lambda num:num%2==0,seq)

In [46]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [47]:
s='hello my name is harshada'

In [49]:
s.lower()

'hello my name is harshada'

In [50]:
s.upper()

'HELLO MY NAME IS HARSHADA'

In [51]:
s.split()

['hello', 'my', 'name', 'is', 'harshada']

In [57]:
tweet='Go Sports! #Sports'

In [58]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [59]:
d={'k1':1,'k2':2}

In [60]:
d

{'k1': 1, 'k2': 2}

In [61]:
d.keys()

dict_keys(['k1', 'k2'])

In [62]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [63]:
d.values()

dict_values([1, 2])

In [64]:
lst=[1,2,3]

In [65]:
lst.pop()

3

In [66]:
lst

[1, 2]

In [67]:
lst=[1,2,3,4,5]

In [68]:
lst

[1, 2, 3, 4, 5]

In [69]:
item=lst.pop()

In [70]:
item

5

In [71]:
first=lst.pop(0)

In [72]:
lst

[2, 3, 4]

In [73]:
lst.append('new')

In [74]:
lst

[2, 3, 4, 'new']

In [76]:
'x' in ['x','y','z']

True

In [77]:
x=[(1,2),(3,4),(5,6)]

In [78]:
x[0][1]

2

In [80]:
for (a,b) in x:
    print(b)

2
4
6